body{
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #8053FF;
    --main-body-color: #23155B;
    --gray-light-color: #817d8e;
    --white-color: #f4f4f4;
    --background-color: #f4f4f4;

    --font-framily: Martel Sans, sans-serif;
    --alternative-font: Noto Sans Khojki;
  }

  nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
  }
  
  .CLA-logo {
   margin-left: -150px;

  }

  div.contact-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }